SRR065390_1.fastq.gz
SRR065390_2.fastq.gz
combined-trim-dn.kh
combined-trim-dn2.kh
combined-trim.fq
combined-trim.fq.pe
combined-trim.fq.pe.keep
combined-trim.fq.pe.keep.abundfilt
combined-trim.fq.pe.keep.abundfilt.pe
combined-trim.fq.pe.keep.abundfilt.pe.keep
combined-trim.fq.pe.keep.abundfilt.se
combined-trim.fq.pe.keep.abundfilt.se.keep
combined-trim.fq.se
combined-trim.fq.se.keep
combined-trim.fq.se.keep.abundfilt
combined-trim.fq.se.keep.abundfilt.keep
combined.fq
dn.21/
dn.23/
dn.25/
dn.27/
dn.29/
dn.31/
dn.33/
dn.35/
dn.37/
dn.39/
dn.41/
dn.43/
dn.45/
dn.47/
dn.49/
dn.51/
dn5-round2.kh
dn5.kh
s1_pe
s1_se
s1_se.filt
s1_se.filt.keep
s1_se.filt.keep.abundfilt
s1_se.filt.keep.abundfilt.keep
s2_pe
s2_se
v.21/
v.23/
v.25/
v.27/
v.29/
v.31/
v.33/
v.35/
v.37/
v.39/
v.41/
v.43/
v.45/
v.47/
v.49/
v.51/
